@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @media (max-width: 600px) 
  {
    #app {
    padding: 0;
    /* overflow: auto; */
    width: auto;
    height: 2000px;
    margin: -6px;
    font-family: 'Roboto', sans-serif;
    }
} 